.default {
  padding: 5px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  background-color: #ff6d6d;
  border: none;
  //border: 1px solid #4c4c4d;
}

.answer {
  padding: 5px;
}

.toTop {
  padding: 5px;
}

.badQuestion {

}