.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.background {
  background-color: grey;
}

.link {
  text-decoration: none;
  color: white;
  font-family: SansSerif, serif;
}