.header {
  //width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.background {
  background-color: #25282b;
}

.link {
  text-decoration: none;
  color: white;
  font-family: Ubuntu, serif;
}