.modalWrapper {
  box-sizing: border-box;
  content: '';
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  //padding-bottom: 40px;
  max-height: 100%;
  overflow-y: scroll;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: center;
}


.modal {
  width: 50%;
  height: 50%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff6d6d;
}
