.cardWrapper {
  width: 40%;
  //height: 100px;
  border: 1px solid #ff6d6d;
  //border-bottom: 1px solid #ff6d6d;
  background-color: #363645;
  padding: 10px 20px;
  font-family: Ubuntu, serif;
  //border-radius: 5px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 10px;
  //box-shadow: 0 5px 5px -4px lightgray;
}

.question {
  color: white;
}

.textSection {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.buttonBlock {
  display: flex;
  justify-content: space-between;
  //width: 80%;
}

.name {
  font-size: 12px;
  color: gray;
}

.description {
  height: 0;
  overflow: hidden;
  transition: 0.5s ease all;
}